html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  direction: rtl;
}

* {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: crimson;
}

a:hover {
  color: darkgreen;
}

a:active {
  color: brown;
}

#img {
  position: fixed;
  top: 0;
  z-index: -2;
  height: 400px;
  width: 100%;
}

#wrapper {
  margin-top: 450px;
  background-color: rgba(156, 124, 245, 0.5);
  width: 100%;
  overflow: hidden;
}

#imformation {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: chartreuse;
  margin-right: 100px;
  margin-top: 20px;
  padding: 5px;
  width: 50%;
  float: right;
  opacity: 0.9;
  margin-bottom: 10px;

  background: repeating-linear-gradient(
    45deg,
    rgba(64, 64, 179, 0.788),
    rgb(241, 74, 138),
    rgb(226, 132, 214),
    rgba(64, 64, 179, 0.788)
  );
}

.maininfo {
  border-style: rgb(90, 149, 216) solid;
  background-color: rgb(238, 85, 149);
  margin: 20px 100px 20px 100px;
  padding: 5px;
  border-radius: 5px;
  width: auto;
  overflow: auto;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;

  transition: all 1s;
}

.maininfo:nth-child(2n) {
  background-color: rgb(236, 99, 207);
}

.maininfo:nth-child(2n):hover {
  background-color: rgb(226, 202, 221);
  transform: scale(1.2);
  box-shadow: rgb(243, 35, 35) 3px 5px 3px;
}

.maininfo:nth-child(2n + 1) {
  background-color: rgb(14, 177, 142);
}

.maininfo:nth-child(2n + 1):hover {
  background-color: rgb(180, 211, 204);
  transform: scale(1.2);
  box-shadow: rgb(243, 35, 35) 3px 5px 3px;
}

#about {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px 0 10px 0;
  background-color: rgb(124, 197, 245);
  margin: 20px;
  padding: 5px;
  width: 10%;
  min-height: 10cm;
  text-align: justify;
  float: right;
  opacity: 0.9;

  background-image: url(pic/b.jpg), url(pic/c.jpg);
  background-position: right bottom, top;
  background-repeat: no-repeat, repeat;
  background-size: contain, contain;
  padding: 15px;
}

ul {
  list-style: none;
}

ul li {
  /* transition: all 1s; */
  transition: background-color 1s, transform 0.5;
}

ul li:nth-child(2n) {
  background-color: rgb(218, 34, 110);
}

ul li:nth-child(2n):hover {
  background-color: rgb(235, 157, 202);
  transform: scaleY(1.2);
}

ul li:nth-child(2n + 1) {
  background-color: rgb(243, 239, 15);
}

ul li:nth-child(2n + 1):hover {
  background-color: rgb(178, 187, 127);
  transform: scaleY(1.2);
}

#menu {
  width: 15%;
  margin-top: 15px;
  margin-left: 20;
  float: left;
}

#modal_contact > div {
  background-color: white;
  padding: 30px;
  border: black solid 3px;
  z-index: 100;
}

.modal {
  width: 50%;
  margin-right: 25%;
  text-align: center;
  position: fixed;
  top: 150px;
  /* z-index: -5; */
  /* opacity: 0; */
  transition: all 0.5s;
}

.modal_wrapper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 200%;
  position: fixed;
  top: 0;
  z-index: -1000;
  opacity: 0;
  transition: all 0.5s;
}

#modal_contact > div {
  opacity: 1;
  z-index: 100;
}

.modal_wrapper:target {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 200%;
  position: fixed;
  top: 0;
  z-index: 9999999;
  opacity: 1;
  transform: translateY(-50px);
}

.close_modal {
  color: black;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  border: 2px black solid;
  width: 2em;
  height: 2em;
  padding: 1% 0.5% 0 0.5%;
  z-index: 999999999;
  position: absolute;
  top: -10px;
  right: -10px;
}

#footer {
  background-color: rgb(229, 255, 0);
  position: relative;
  bottom: 0px;
  width: 96%;
  padding: 2%;
  text-align: left;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-direction: alternate;
}

#footer:hover {
  animation-play-state: running;
}

@keyframes example {
  0% {
    background-color: blue;
  }

  20% {
    background-color: rgb(63, 107, 204);
  }

  50% {
    background-color: rgb(31, 65, 128);
  }

  70% {
    background-color: rgb(76, 123, 185);
  }

  100% {
    background-color: rgb(0, 0, 255);
  }
}

#navbar {
  background-color: rgba(123, 90, 214, 0.5);
  width: 100%;
  padding: 1% 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: all 0.5s;
}

#navbar:hover {
  background-color: rgba(123, 90, 214, 1);
}

#navbar span {
  color: white;

  border-left: rgb(25, 25, 212) 3px solid;
  padding: 1% 1%;
  transition: all 0.3s;
}

#navbar span:hover {
  background-color: rgb(219, 73, 171);
}
