html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.main_btn {
  background-color: blue;
  text-align: center;
  display: inline-block;
}
.btn_wrapper {
  display: none;
}
.main_btn:active .btn_wrapper {
  display: flex;
  flex-direction: column;
}
.btn:nth-child(odd) {
  background-color: brown;
}
.btn:nth-child(even) {
  background-color: darkgreen;
}
